
#centralwidget {
    /* 如果不需要边框，直接不画边框 */
    border: none;
    border-radius: 10px;      /* 修正：100px */
    background-color: #b6bcbebd;
}

/* 树状视图 - 白色背景加浅灰边框 */
QTreeView {
    background-color: #ffffff;
    border-top: 2px solid #e0e0e0;    /* 上边框 */
    border-right: 2px solid #e0e0e0;  /* 右边框 */
    border-bottom: none; /* 下边框 */
    border-left: none;               /* 无左边框 */
    border-radius: 4px;
    alternate-background-color: #f8f8f8;
    outline: 0;
    font-size: 20px;
}
QWidget#page {
    border-top: 2px solid #e0e0e0;
}
QTreeView::item {
    height: 35px;
    padding-left: 15px;
    background-color: #ffffff;
    color: #333333;
    border: none;
}

QTreeView::item:selected {
    background-color: #e6f2ff;
    color: #0066cc;
    border-left: 3px solid #0066cc;
}

QTreeView::item:hover {
    background-color: #f0f7ff;
}

QTableView {
    background-color: #ffffff;
    alternate-background-color: #f0f8ff; /* 浅蓝色交替行 */
    gridline-color: #e0e0e0;
}
/* Tab文本：未选=灰，选=黑+粗 */
QWidget#TopTabsBar QPushButton {
    border:none; background:transparent; color:#9aa0a6;
    font-size:18px; padding:4px 2px;
}
QWidget#TopTabsBar QPushButton:checked {
    color:#202124; font-weight:600;
}
/* 数据库按钮样式 */
QPushButton#btn_sql_mar {
    background: transparent;
    border: none;
    color: #000000;
    font-size: 20pt;
    padding: 4px 8px;
    border-radius: 8px;
}

QPushButton#btn_sql_mar:hover {
    background-color: #6e89a8ff;  /* 浅绿色背景 */
    color: #2e7d32;            /* 深绿色文字 */
    border: 2px solid #7a7f9cff;
}

QPushButton#btn_sql_mar:pressed {
    background-color: #d4eed4;
    color: #1b5e20;
}

/* 双清单管理工具按钮样式 */
QPushButton#btn_bom {
    background: transparent;
    border: none;
    color: #000000;
    font-size: 20pt;
    padding: 4px 8px;
    border-radius: 8px;
}

QPushButton#btn_bom:hover {
    background-color: #262426ff !important;  /* 浅紫色背景 */
    color: #7b1fa5 !important;           /* 深紫色文字 */
    border: 1px solid #e1bee7 !important;   /* 紫色边框 */
}
QPushButton#btn_bom:pressed {
    background-color: #ead6ee;
    color: #6a1b9a;
}

QPushButton:hover {
    /* 鼠标停留状态 */
    background-color: #666;
}
